/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

html, body {
  height: 100%;
}

.section-red {
  color: #fafafa;
  background-color: #e91e6f;
}

.section-orange {
  /*color: #fafafa;*/
  color: #black;
  background-color: #ff9800;
}

.section-blue {
  color: #fafafa;
  background-color: #3f51b5;
}

.section-yellow {
  color: #263238;
  background-color: #ffd54f;
}

.section-grey {
  background-color: #455a64;
  color: #fafafa;
}

.section-black {
  background-color: #263238;
  color: #fafafa;
}

.section-white {
  background-color: #fafafa;
  color: #263238;
}

/* navbar */

nav ul a,
nav .brand-logo {
  color: #444;
  font-size: 1.5rem;
}

.brand-logo {
  font-weight: bold;
}

#nav-mobile a {
  font-size: 1.1rem !important;
}

nav {
  z-index: 2;
}

p {
  line-height: 2rem;
}

.sidenav-overlay {
  z-index: 2;
}

a.active.back-menu {
  color: #3f51b5 !important;
}

a.back-menu {
  color: #263238 !important;
}

/* parallax */

#title-img {
  width: 30rem;
  padding: 2rem;
}

.tint {
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, .2);
}

.parallax-front {
  height: 100vh !important;
}

.parallax-header {
  height: 25rem !important;
}

.parallax-container {
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.95);
}

.parallax-container .section {
  width: 100%;
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #home .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #home .section {
    top: 0;
  }
}

/* footer */

footer.page-footer {
  margin: 0;
}

/* text style */

.italic {
  font-style: italic;
}

h1, h2, h3, h4, h5, nav {
  font-family: 'Dosis', sans-serif;
}

h2 {
  padding: 1.5rem;
  /* for padding on mobile*/
}

h1, h3, h4 {
  font-weight: bold;
}

p, span, #nav-mobile a {
  font-family: 'Work Sans', sans-serif;
}

p {
  text-align: justify;
  text-justify: inter-word;
  font-size: 1.3rem;
}

.small-container {
  max-width: 50rem;
}

.section {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.col {
  height: 100%;
}

/* section parts */

.section-image {
  margin-top: 1.5rem;
}

.card, .card-image {
  height: 12rem;
}

.card-image {
  text-shadow: 2px 2px 3px black;
}

/* label info
 * ----------------*/
label.active {
  color: #3f51b5 !important;
}

/* label focus color */
.input-field input[type=text]:focus + label, .materialize-textarea:focus:not([readonly]) + label {
  color: #3f51b5 !important;
}

/* label underline focus color */
.input-field input[type=text]:focus, .materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #3f51b5 !important;
  box-shadow: 0 1px 0 0 #3f51b5 !important;
}

/* icon */

.fa-bars {
  margin-right: -0.7rem;
  font-size: 1.4rem;
}
