---
---

<!DOCTYPE html>

<html lang="en">
  <head>
    <!-- favicons -->
    <link rel="apple-touch-icon" sizes="57x57" href="favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/faviconapple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">

    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>{{ site.title }}</title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/css?family=Dosis|Work+Sans" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  </head>
  <body>
    <!-- top transparent navbar -->
    <div id="front">
      <nav class="transparent z-depth-0 pushpin-nav" role="navigation" data-target="front">
        <div class="nav-wrapper container">
          <a id="logo-container" href="#home" class="brand-logo left grey-text text-lighten-5">
            {{ site.title | upcase }}
          </a>
          <ul class="right hide-on-med-and-down">
            {% for page in site.posts reversed %}
              <li>
                <a class="grey-text text-lighten-5" href="#{{ page.title }}">
                  {{ page.title | upcase }}
                </a>
              </li>
            {% endfor %}
          </ul>

          <a href="#home" data-target="nav-mobile" class="sidenav-trigger right">
            <i class="grey-text text-lighten-5 fa fa-bars"></i>
          </a>
        </div>
      </nav>

      <!-- sidebar -->
      <ul id="nav-mobile" class="sidenav left grey lighten-5">
        <li><a class="back-menu sidenav-close" href="#home">HOME</a></li>
        {% for page in site.posts reversed %}
          <li>
            <a class="back-menu sidenav-close" href="#{{ page.title }}">
              {{ page.title | upcase }}
            </a>
          </li>
        {% endfor %}
      </ul>

      <div id="home" class="parallax-container parallax-front scrollspy">
        <div class="full-height valign-wrapper">
          <div id="title-img" class="row center container">
            <img class="responsive-img" src="img/solstudio.svg.png"></img>
          </div>
        </div>
        <div class="parallax"><img src="img/bright-light-in-the-galaxy-by-the-pink-nebula-52752-2560x1600.jpg" alt="Unsplashed background img 1"></div>
      </div>
    </div>

    <div id="back">
      <!-- bottom white navbar -->
      <nav class="pushpin-nav grey lighten-5" role="navigation" data-target="back">
        <div class="nav-wrapper container">
          <a id="logo-container" href="#" class="brand-logo left blue-grey-text text-darken-4">
            {{ site.title | upcase }}
          </a>
          <ul class="right hide-on-med-and-down">
            {% for page in site.posts reversed %}
              <li><a class="back-menu" href="#{{ page.title }}">{{ page.title | upcase }}</a></li>
            {% endfor %}
          </ul>

          <a href="#" data-target="nav-mobile" class="sidenav-trigger right">
            <i class="blue-grey-text text-darken-4 fa fa-bars"></i>
          </a>
        </div>
      </nav>

      <!-- where content is -->
      {% for page in site.posts reversed %}
        <div class="parallax-container parallax-header">
          <div class="tint valign-wrapper">
            <div class="row center">
              <h2>{{ page.info }}</h2>
            </div>
          </div>
          <div class="parallax"><img src="{{ page.image | relative_url }}"></div>
        </div>

        <div id="{{ page.title }}" class="scrollspy {{ page.style }}">
          <div class="small-container container">
            <div class="section valign-wrapper">
              {{ page.content }}
            </div>
          </div>
        </div>
      {% endfor %}
    </div>

    <!-- footer -->
    <footer class="page-footer indigo">
      <div class="section-blue">
        <div class="container">
          <div class="row">
            <div class="col m7 s12">
              <h5>SOL Studios</h5>
              <p>
                Thanks for reading our page! We love you!
                <br>
                Remember, Earth-Chan's not Flat!
              </p>

            </div>
            <div class="col m5 s12">
              <h5 class="white-text" style="margin-bottom: 0.25rem;">Connect</h5>
              <div class="row">
                <div class="col s6">
                  <ul>
                    <li>
                      <a class="white-text" href="https://discord.gg/VsARsXV">
                        <i class="fa fa-gamepad fa-fw"></i> Discord
                      </a>
                    </li>
                    <li>
                      <a class="white-text" href="https://www.reddit.com/user/sol-studios">
                        <i class="fa fa-reddit-alien fa-fw"></i> Reddit
                      </a>
                    </li>
                    <li>
                      <a class="white-text" href="https://www.twitch.tv/solstudios">
                        <i class="fa fa-twitch fa-fw"></i> Twitch
                      </a>
                    </li>
                  </ul>
                </div>
                <div class="col s6">
                  <ul>
                    <li>
                      <a class="white-text" href="https://twitter.com/Studios_SOL">
                        <i class="fa fa-twitter fa-fw"></i> Twitter
                      </a>
                    </li>
                    <li>
                      <a class="white-text" href="https://sol-studios.tumblr.com">
                        <i class="fa fa-tumblr fa-fw"></i> Tumblr
                      </a>
                    </li>
                    <li>
                      <a class="white-text" href="https://www.youtube.com/c/SolStudios">
                        <i class="fa fa-youtube-play fa-fw"></i> YouTube
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="footer-copyright">
          <div class="container">
            <div class="row" style="margin-bottom: 0;">
              <div class="col m6 s12 left-align">
                Made by <a class="white-text">{{ site.author }}</a>
              </div>
              <div class="hide-on-small-only col m6 s12 right-align">
                <span class="italic">{{ site.footer }}</span>
              </div>
              <div class="hide-on-med-and-up col m6 s12 left-align" style="padding-top: 0.25rem;">
                <span class="italic">{{ site.footer }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>

    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="js/materialize.js"></script>
    <script src="js/init.js"></script>
    <script src="js/script.js"></script>

  </body>
</html>
